@font-face {
    font-family:PostNoBillsJaffna-SemiBold ;
    src: url(PostNoBillsJaffna-SemiBold.ttf);
}
@font-face {
    font-family: PT Sans;
    src: url(PTSans-Regular.ttf);
}
body { 
  width: 100%; height: 100%; }

.contacts_and_navbar{
    top: 0px;
    left: 0px;
    
    width: 100%;
    height: 124px;
}

.contacts_and_singin{
    
    color: #969696;
    width: 100%;
    height: 44px;
    background-color:  black;
}

.contacts{
    font-family: PT Sans;
    position: relative;
    height: 44px;
    font-size: 12px;
    width: 80%;
    margin-left: 10%;
}
.number_phone{
    width: 350px;
    justify-content: space-around;
    display: flex;
    left: 0px;
    top: 15px;
    position: absolute;
    
}
.vector_phone{
    
    width: 13px;
    height: 13px;
    background: url(Vector_phone.svg);
    background-size: cover;

}

.sing_in{
    width:150px;
    display: flex;
    justify-content: space-around;
    right: 0px;
    top: 15px;
    position: absolute;
 
}

.vector_sing_in{
    height: 13px;
    width: 13px;
    background: url(vector_sing_in.svg);
    background-size: cover;
}

.navbar_logo{
    width: 100%;
    height: 80px;
    background-color:#0F0F0F;
}

.navbar{
    font-family: PT Sans;
    position: relative;
    width: 80%;
    height:80px;
    margin-left: 10%;
}

.logo{
    font-family: PostNoBillsJaffna-SemiBold;
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 36px;
    color: white;
}

nav{
    height: 80px;
    justify-content: space-around;
    display: flex;
    width: 45%;
    font-size: 14px;
    position: absolute;
    right: 0px;
    top: 0px
}

a{  
    padding-top: 30px;
    text-align: center;
    
    width: 200px;
    
    text-align: center;
    text-decoration: none;
    color:  gray
    ;
}
.all_text_in_clock {
  margin-top: 15px;
 
}

.like {
    color: white;
    background-color: #1F1F1F;
}
.text_descriptions{
  margin-top: 60px;
}
.basket{
    margin-right: -50px;
}

.search{
    margin-right: -50px;
}

.descriptions{
    padding-top: 160px;
  
    width: 100%;
    height: 810px;
    background: url(description_background.png);
    background-size: cover;
}

.box{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:320px;
    height:320px;
    border: white solid 4px;
}
h1{
  margin-top: 110px;
  color:white;
  font-size: 40px;
  font-family: PostNoBillsJaffna-SemiBold;
}
.line_in_box{
  margin-top: -35px;
  width: 125px;
  
}

p{
  color: white;
  text-align: center;
}
.sanct_peterburg{
  margin-top: -10px;
  color: white;
  font-size: 22px;
}
.season_2020 {
    width: 55%;
    height: 550px;
    background-color: black;
  }
  
  .photo_and_text {
    display: flex;
    width: 100%;
  }
  
  .man_on_photo {
    position: relative;
    width: 45%;
    height: 550px;
    background: url(Rectangle.png);
    background-size: cover;
  }
  
  .title {
    color: white;
    font-size: 30px;
  }
  
  .frame {
    padding-top: 15px;
    width: 120px;
    padding-left: 7%;
  }
  
  .title_and_frame {
    margin: 7% 0% 0% 37%;
  }
  
  .products {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .background_photo_clock{
    height: 250px;
    background-color: #191b1c;
  }
  .clock {
    margin-top: 50px;
    color: white;
    text-align:left;
    height: 400px;
    width: 200px;
  }
  
  .photo_clock {
    
    vertical-align: top;
    padding-top: 30px;
  }
  
  .button_one {
    font-size: 20px;
    margin: 10px 0px 0px 70px;
    text-align: center;
    width: 125px;
    height: 40px;
    border: white solid 2px;
    background: transparent;
    color: white;
  }
  
  .new_colection {
    color: white;
    font-size: 36px;
  }
  
  .all_divs {
    position: absolute;
    width: 40%;
    left: 30%;
    bottom: 15%;
  }
  
  .frame_two {
    width: 120px;
    margin-left: 73px;
  }
  
  .Colection_2018{
    
    text-align: center;
    color: white;
    display: flex;
    width: 100%;
  }
  
  .photo_of_a_man{
    background:url(photo_of_a_man.png);
    background-size: cover;
    width: 48%;
    height:600px ;
  }
  .text_about_colection{
    width: 52%;
    height: 600px;
    background-color: black;
  }

  .most_text{
    font-size: 15px;
    margin-top: 50px;
  }
  .line_two{
    width: 150px;
  }
   
  
  .title_colection{
    margin-top: 100px;
    font-family: sans-serif;
    font-size: 30px;
  }

  .button_two{
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
    width: 300px;
    height: 40px;
    border: white solid 2px;
    background: transparent;
    color: white;
  }

  .all_colection_two{
    color: white;
   text-align: center;
    background-color: black;
    width: 100%;
    height: 1289px;
  }

  .new_message{
    margin-top: 0px;
    padding-top: 100px;
  }
  .line_three{
    width: 100px;
  }

  .flex_box_two{
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    width: 60%;
    text-align: center;
  }